<%- include("header") -%>

<h2>About</h2>

<p>This page was made by Aditya Kumar Raj in the year 2023 when he was studying at IIT Kanpur.He was in love with a really awesome girl whose name was Aastha Sinha.</p>

<%- include("footer") -%>